@import "tailwindcss";

/* DEFINICIÓN DEL TEMA */
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  /* Animación para el banner de logos */
  --animate-marquee: marquee 40s linear infinite;

  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }
}

/* VARIABLES CSS */
:root {
  --background: #ffffff; /* Fondo claro */
  --foreground: #0f172a; /* Texto oscuro */
}

.dark {
  --background: #050505; /* Fondo negro */
  --foreground: #ffffff; /* Texto blanco */
}

/* ESTILOS BASE */
@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    /* Aplicamos la fuente Outfit configurada en layout */
    font-family: var(--font-outfit), sans-serif;
    @apply transition-colors duration-500 antialiased;
  }
}

/* COMPONENTES */
@layer components {
  .animate-marquee {
    display: flex;
    width: max-content;
  }

  /* Efecto Glow para tarjetas */
  .dark .glow-card {
    box-shadow: 0 0 20px rgba(37, 99, 235, 0.1);
  }
}